.App {
  font-family: sans-serif;
  text-align: center;
}

.firsBg {
    background-color: blue;
    color: white;
}

.secondBg {
    background-color: yellow;
    color: black;
}

.textCenter {
    text-align: left;
}
.box {
    float: left;
    text-align: left;
    padding: 6px;
}

.right {
    float: right;
    text-align: right;
}

.right {
    float: right;
    text-align: right;
}

.s100 {
    width: 100%;
}

.s70 {
    width: 69%;
}
.s66 {
    width: 65%;
}

.s50 {
    width: 45%;
}

.s30 {
    width: 29%;
}

.s20 {
    width: 19%;
}

.textWhite {
    color: white;
}

.button2 {
    font: bold 0.9rem Arial;
    text-decoration: none;
    background-color: #eeeeee;
    color: #333333;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #cccccc;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #cccccc;
}

.button {
    font: bold 0.9rem Arial;
    text-decoration: none;
    padding: 2px 6px 2px 6px;
}

.flex-box {
    display: flex;
    flex-wrap: nowrap;
    background-color: DodgerBlue;
}

.flex-col {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.menu > a {
    color: darkred;
    background-color: #f1f1f1;
    width: 100px;
    margin: 4px;
    text-align: center;
    line-height: 22px;
    font-size: 14px;
}
